*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}


.modal-header{
   display: flex;
   flex-direction: column;
}

/* banner */



.banner-img{
   background-attachment: fixed;
   color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.banner-tittle{
   text-align: center;
}

.banner-text{
   font-size: 1rem;
}

#img01{
   background-image: url(/img/pst16-capa-1740x615.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
   color: white
}



/* card */

.cards-tittle{
   padding: 60px;
   text-align: center;
}

.cards{
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
}

.card{
   border-radius: 16px;
   margin: 30px;
   background-color: #F3F3F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   padding-bottom: 40px;
}

.card-img-top{
   border-radius: 16px 16px 0 0;
}

.card-title{
   width: 100%;
   display: flex;
   justify-content: center;
}

.card-text{
   text-align: center;
}

.card-button{
   justify-content: center;
   display: flex;
}


/* footer */
footer{
   width: 100%;
}


/* quem somos */

.qs-tittle{
   text-align: center;
   margin-top: 30px;
}

.qs-img{
   height: 100%;
   margin: 30px;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.qs-content{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;

   
}

.qs-content p{
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
}


/* equipamentos */

.eq-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   
}

.eq-content{
   font-size: 1.7rem;
   width: 450px;
   text-align: center;
   padding: 20px;
   background-color: #F3F3F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eq-video{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.eq-video__vid{
   padding: 20px;
   
}

/* cotacao */

.cotacao-tittle{
   margin: 30px;
}

.cotacao-container{
   margin: 30px;
}